.nav {
  background-color: black;
  padding: 4px 4px;
}
.nav ul {
  display: flex;
  list-style-type: none;
}
.nav ul li a {
  margin: 2px 4px;
  text-decoration: none;
  color: white;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
}

.nav ul li:hover {
  font-weight: 700;
}
.favoritesCount {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: red;
  color: white;
  padding: 5px;
}
